@import url('media/fonts/lab_grotesque/stylesheet.css');

button{
  font-family: 'Lab Grotesque';
  cursor: pointer;
  font-weight: 500;
  line-height: 24px;
}
input{
  font-family: 'Lab Grotesque';
}

.App {
  height: 100vh;
  width: 100vw;
  font-family: 'Lab Grotesque';
}


